@import url("https://fonts.googleapis.com/css2?family=Damion&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400..700;1,400..700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Eagle_Lake:ital,wght@0,400..700;1,400..700&display=swap");


:root {
  --primary: #0b7285;
  --secondary:#6edbd6;
  --white: #e8fffa; /* background */
  --text: #12212e;  /* same with primary dark */
  --light-bg: #f8fdfd; /* --tripture-light */
  --tripture-navy: #001f3f;   
  --subtext: #6b7280;
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  background: var(--white);
  font-family: "Gelasio", sans-serif;
}

/* hero section  */
.hero-section {
  /* linear-gradient ကို သုံးပြီး အဖြူရောင်မှ ပုံကြည်ကြည်လေးဖြစ်အောင် ဖန်တီးထားပါတယ် */
  background:
    linear-gradient(
      to right,
      rgba(255, 255, 255, 1) 0%, /* ဘယ်ဘက်အစမှာ အဖြူစစ်စစ် */ 
      rgba(255, 255, 255, 0.9) 30%, /* ၃၀% အထိ အဖြူရောင် လွှမ်းထားမယ် */ 
      rgba(255, 255, 255, 0) 70%/* ၇၀% ရောက်ရင် အဖြူရောင် ပျောက်သွားပြီး ပုံပဲကျန်မယ် */
    ),
    url("https://www.visitgreece.gr/images/1743x752/jpg/files/merakos_05_santorini-oia_1743x752.jpg"); /* ပင်လယ်ပုံ */

	background-size: cover;
	background-position: center right; /* ပုံကို ညာဘက်ခြမ်းကို အဓိက ကပ်ထားမယ် */
	height: 80vh;
	position: relative;
	display: flex;
	align-items: center;
}

.hero-section .text-teal {
  font-family: "Gelasio";
  color: var(--secondary);
}

.hero-section h1 {
  font-family: "Damion";
  color: var(--primary);
}

@media (max-width: 768px) {
  .hero-section {
    height: auto;
    padding: 40px 0 70px 7px;

    background-size: cover;
    background-position: center right;
    height: 80vh;
    background-attachment: scroll;
    display: flex;
    align-items: center;
  }

  .hero-content h1{
    font-size: 1.8rem;
  }
  .hero-content h6{
    font-size: 0.8rem;
  }

}

/* Slider  */
.slider {
  width: 100%;
  transition: transform 0.5s ease;
}

.tab-panel {
  width: 100%;
  flex-shrink: 0;
}

/* Tabs */
.tapitem{
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    margin: 20px 0;
    font-family: 'Damion';
}

.tab-btn {
    border: none;
    padding: 10px 40px;
    margin:0 30px;
    background: radial-gradient(circle,transparent,transparent);
    border-radius: 10px;
    font-size: 20px;
	  max-width: 100%;
    transition: all 0.4s cubic-bezier(0.4,0,0.2,1);
}


.tab-btn.active,
.tab-btn:hover:not(.active) {
    background-image: 
      linear-gradient(to right, transparent, var(--tripture-navy),transparent),
      linear-gradient(to right, transparent, var(--tripture-navy),transparent);
    background-size:100% 2px,100% 2px;
    background-position: top,bottom;
    background-repeat: no-repeat;

    box-shadow: 
    inset 0 10px 15px -10px rgba(47, 181, 132, 0.2),
    inset 0 -10px 15px -10px rgba(47, 181, 132, 0.2);
    ;

    transition: all 0.4s ease-in-out;
    color:var(--tripture-navy)
}

@media (max-width:768px) {
	.tab-btn {
		padding:8px 15px;
		margin:0 10px;
		font-size: 14px;
	}
}

@media (max-width:600px) {
	.tab-btn {
		padding:8px 15px;
		font-size: 10px;
	}
}

/* Card */
.travel-card {
  background: #fff;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  transition: 0.3s;
  margin-bottom: 20px;
  /* border:  */
}

.travel-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(40, 92, 164, 0.544);

}

.img-box {
  position: relative;
}

.img-box img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.description-box{
  background: #f8f9fa;
  border-radius: 12px;
  margin-bottom: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.tour-list{
  list-style: none;
  padding:0;
  margin:0;
}

.tour-list li {
  margin-bottom: 5px;
  font-size: 12px;
  color:#555;
}

.badge-top {
  position: absolute;
  top: 10px;
  right: 10px;
  background: white;
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 12px;
}



.btn-teal {
  background-color: var(--secondary);
  color: var(--tripture-navy);
  border: none;
  transition: 0.3s;
}

.btn-teal:hover {
  background-color: var(--primary);
  color: white;
}

.btn-teal.active {
  background-color: var(--light-bg);
}


/* ANIMATION */
/* .fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.8s ease forwards;
}
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
} */

.accordion-button:focus {
    box-shadow: none;
}

/* Accordion Styling */
.accordion-button:not(.collapsed) {
    background-color: transparent;
    color: var(--secondary);
    box-shadow: none;
}

.accordion-button:focus {
    box-shadow: none;
}



/* Newsletter Customization */
.newsletter-box input {
    height: 50px;
    border-radius: 8px 0 0 8px;
}
.newsletter-box button {
    border-radius: 0 8px 8px 0;
}

/* Color Palette */
.text-teal {
  color: var(--primary) !important;
}

.bg-teal {
    background-color: var(--primary) !important;
}

.bg-dark-blue {
    background-color: var(--tripture-navy) !important;
}



/* Footer Links */
footer ul li {
    cursor: pointer;
    transition: 0.3s;
}
footer ul li:hover {
    color: var(--secondary);
    transform: translateX(5px);
}

.payment-icon img{
  height:30px;
  border-radius: 10px;
}

.map-bg {
    background: transparent;
    position: relative;
    overflow: hidden;
}

@media (max-width: 768px) {
    .border-md-none {
        border: none !important;
    }
}

/* Smooth Scrolling */
html {
  scroll-behavior: smooth;
}

@media (max-width: 991px) {
  .footer-section {
    text-align: center;
  }
  .footer-heading::after {
    left: 50%;
    transform: translateX(-50%);
  }
  .contact-item {
    justify-content: center;
  }
}
